<ul class="breadcrumbs">
    <li><a routerLink="/admin">Admin</a></li>
    <li class="active" *ngIf="media">
        <a [routerLink]="'/admin/' + media.id" class="disabled">{{media.title}}</a>
    </li>
</ul>

<section *ngIf="media">
    <h1>{{media.subtitle ? media.title + ' - ' + media.subtitle : media.title}}</h1>
    <p class="introduction">
        Manage the information about the specific media, change titles, upload videos and thumbnails, etc.
    </p>

    <div class="horizontal">
        <button class="dangerous">Delete</button>
    </div>
</section>

<section *ngIf="media">
    <h2>Manage media</h2>

    <app-media-form [media]="media"></app-media-form>
</section>

<section *ngIf="media && media.type == 'movie'">
    <h2>Manage Video</h2>
    <!--<form>-->
        <!--<label for="file"></label>-->
        <!--<input id="file" type="file" name="file">-->

        <!--<button type="submit">Upload</button>-->
    <!--</form>-->

    <ul class="thumbnails">

    </ul>
</section>