

article {
  margin: 1em;

  position: relative;
}

section {
  margin: 0 1em;

  position: relative;
}


table {
  border: 0;
  border-collapse: collapse;

  margin: auto;
  max-width: 50em;

  position: relative;

  width: 100%;

  tr {
    text-align: left;

    &:nth-child(odd) {
      background-color: #EEE;
    }
  }

  td,
  th {
    box-sizing: border-box;

    padding: .5em;
  }
}

table.media {

}